{% extends "base.html" %}

{% block content %}
<div class="text-white nav justify-content-center m-3" style="background-color: #282a36;">
    <li class="nav-item">
    <h1 > Welcome to ⚡ boltz </h1>
    <br>
    <p>This is a opensource spotify playlist to mp3 zip converter</p>
    <p>Our Strenghts:</p>
    <ul>
        <li>No Adversiements</li>
        <li>No Viruses</li>
        <li>Open Source</li>
        <li>Neatly Zips Up Your Playlist For Easy Download</li>
    </ul>
    <center><a href = "/convert"><button type="button" class="btn text-white btn-lg" style="background-color: #bd93f9;">Start Converting!</button></a></center>
    <center>made with love ❤️</center>
</li>
</div>
{% endblock %}
