<html>
    <head>
        <title>Boltz</title>
        <script>
            async function fetchText() {
                var server_ip = 'http://{{server_ip}}/get'
                let response = await fetch(server_ip,
                {
                    method: "POST",
                    body:JSON.stringify("Hello! Flask!")
                });
                let data = await response.text();
                console.log(data);
            }
        </script>
    </head>
    <body>
        <input onclick = "fetchText()" type="submit">
    </body>
</html>