{% extends "base.html" %}
{% block content %}
    <h1 class="text-white nav justify-content-center m-3"> Thanks alot for trying out ⚡ boltz</h1>
    <p class="text-white nav justify-content-center m-3">Press The Download Button Below To Download You Playlist!</p>
    <center>
    <form method = "get" class="text-white nav justify-content-center m-3">
        <p>
        <input class="" type="text" name="file" placeholder={{file_name}} value = "{{file_id}}" style= "background-color:  #282a36; border: none; box-shadow: none; width: 10%; color: #282a36">
        <br>
        <label class="form-check-label" for="defaultCheck1">
            filename:
          </label>
        <label class="form-check-label" for="defaultCheck1">
          {{file_name}}
        </label>
        <br>
        <input type="submit" value  ="Download" style="width: 70%; height: 50%; border-radius: 20px; background-color: #bd93f9; border: none; margin: 10px;"/>
    </p>
    </form>
</center>
{% endblock %}